__pycache__/
*.pyc
*.py[cod]
.pytest_cache
*.class
.DS_Store
.idea/
.log
.ipynb_checkpoints/
evaluate.ipynb
.pylintrc
.cache


data/**/*.csv
!data/sample/
!data/external/
!data/raw/
config/local/*
!.gitkeep